@font-face{
    src: url(fonts/OdibeeSans-Regular.ttf);
    font-family:Odibee Sans;
}
body{
    font-family: Amatic SC ;
    margin: 0px;
    
}
p{
    color: dimgray;
}
.name{
    color: orange;
    font-weight:bolder;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    display:block;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
} 
.link-button{
    text-decoration: none;
    /* background-color: orange; */
    background-image:linear-gradient(45deg,lightSalmon,tomato); /*for background color gradeint with an angle */
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}